@import 'vars.scss';

html,
body {
  margin: 0;
  padding: 0;
  // font-family: Roboto, Helvetica, Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  text-align: left;
  color: #434345;

}

.page {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  padding-top: 12rem;
  box-sizing: border-box;
  @include for-tablet {
    padding-top: 8.6rem;
  }

  &__title {
    font-family: 'Poiret One', cursive;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 600;

    @include for-tablet {
      font-size: 2.8rem;
    }
  }
}

.btn {
  border-radius: 2px;
  border-width: 1px;
  padding: 8px 16px;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border-style: solid;
  display: flex;
  cursor: pointer;
  background: none;
  color: #0E2783;
  font-weight: 500;
  border-color: #0E2783;
  background: transparent;
  transition: all 0.25s;

  &:hover {
    color: $white;
    @include bgGradient(#0026CA, #448AFF, 45deg)
  }
}

.tags-list {
  list-style: none;
  margin: 1.2rem 0;
  padding: 0;

  &__item {
    display: inline-block;
    margin: 0 1.2rem 1.2rem 0;
  }
}

.tag {
  padding: 3px 8px;
  font-size: 1.2rem;
  font-weight: 300;

  &.blue {
    color: #0e2783;
    background: rgba($color: #2196f3, $alpha: 0.2);
  }

  &.purple {
    color: #6a1b9a;
    background: rgba($color: #e040fb, $alpha: 0.2);
  }

  &.green {
    color: #00903a;
    background: rgba($color: #00e676, $alpha: 0.2);
  }
}